---
import { commentConfig } from "@/config";

interface Props {
	path: string;
}

const config = {
	...commentConfig.twikoo,
	el: "#tcomment",
	path: Astro.props.path,
};
---

<div id="tcomment"></div>
<script is:inline src="https://twikoo-1307350886.cos.ap-nanjing.myqcloud.com/twikoo_1.3.69.js"></script>
<script is:inline define:vars={{ config }}>
  twikoo.init(config)
</script>
